if (!window.uuid) {
    var message = $('.alert');
    if (!message.size()) message = $('<div class="alert"></div>');

    $('body').append(message);
    window.uuid = setInterval(function(){
                $.ajax({
                            url: '/admin/status',
                            type: "GET",
                            success: function (event) {
                                if (event.status == 'success') {
                                    clearInterval(window.uuid);
                                    window.uuid = null;
                                    message.remove();
                                    return;
                                }else if(event.status == 'destroy_all') {
                                    message.text('Удаление старых данных');
                                }else{
                                    message.text('Всего ' + event.all + '; Текущий ' + event.current + '; Страна ' + event.country);
                                }
                            },
                            error: function () {
                                clearInterval(window.uuid);
                                window.uuid = null;
                                message.remove();
                            }
                        }
                )
    } ,1000);

}
